@model CoffeeShop.MVC.Models.Transaction.TransactionDetailsDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>
    </dl>
    <h2>List of Transaction Lines Listed to Transaction</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Transaction Line ID
            </th>
            <th>
                Transaction Line Total Price
            </th>
            <th>
                    Transaction Line Total Discount
            </th>
            <th>
                    Product Name
            </th>
            <th>
                Product Price
            </th>
                <th>
                    Product Amount
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model.TransactionLines) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        <a asp-controller="TransactionLine" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-controller="TransactionLine" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-controller="TransactionLine" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>

                </tr>
            }
    </tbody>
</table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a asp-controller="TransactionLine" asp-action="Create" asp-route-id="@Model?.Id" >Add new Transaction Line</a>
</div>
