@page "/transactionlist/edit/{Id:int?}"
@using Session_27.Model;
@using Session_27.Shared;
@using System.Net.Http.Json;
@inject IJSRuntime jsRuntime
@inject HttpClient httpClient
@inject NavigationManager navigationManager
<h3>Transaction Edit</h3>
@if (transactionEdit == null) {
    <p>Loading ...</p>
}
else {
    <div class="row mt-2">
        <div class="col-md-6">
            <label class="form-label">Customer</label>
            <select class="form-control" @bind="transactionEdit.CustomerId">
                @foreach (var customer in Customers) {
                    <option value="@customer.Id">@customer.FullName</option>
                }
            </select>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6">
            <label class="form-label">Manager</label>
            <select class="form-control" @bind="transactionEdit.ManagerId">
                @foreach (var manager in Managers) {
                    <option value="@manager.Id">@manager.FullName</option>
                }
            </select>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Car</label>
                <select class="form-control" @bind="transactionEdit.CarId">
                    @foreach (var car in Cars) {
                        <option value="@car.Id">@car.BrandModelNum</option>
                    }
                </select>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Total Price</label>
                <input class="form-control" @bind="@transactionEdit.TotalPrice" readonly />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <button class="btn btn-success" @onclick="OnSave">Save Changes</button>
                <button class="btn btn-danger" @onclick="OnCancel">Cancel</button>
            </div>
        </div>
        <br><br>
        <h3>Transaction Lines</h3>
        <button class="btn btn-success col-md-3" @onclick="AddLine">Add Line</button>
        <div id="transactionLinesContainer" class="container-fluid">
            @foreach (var transactionLine in transactionEdit.TransactionLines) {
                <div class="row">
                    <div class="col-md-2">
                        <label class="form-label">Service Task</label>
                        <select class="form-control" @bind="@transactionLine.ServiceTaskId">
                            @foreach (var task in ServiceTasks) {
                                <option value="@task.Id">@task.Code - @task.Description</option>

                            }
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Assigned Engineer</label>
                        <select class="form-control" @bind="@transactionLine.EngineerId">
                            @foreach (var engineer in Engineers) {
                                <option value="@engineer.Id">@engineer.Name - @engineer.Surname</option>
                            }
                        </select>
                    </div>
                    <div class="col col-md-2">
                        <label class="form-label">Actions</label>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-success" @onclick="()=>UpdateLine(transactionLine)">Update</button>
                                <button class="btn btn-danger" @onclick="()=>RemoveLine(transactionLine)">Delete </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <input class="form-control" @bind="@transactionLine.TransactionId" hidden />
                    </div>
                </div>
            }
        </div>
    </div>
}

@code {
    [Parameter] public int? Id { get; set; }
    public TransactionEditDto transactionEdit { get; set; }
    public List<CarListDto> Cars;
    public List<ManagerListDto> Managers;
    public List<CustomerListDto> Customers;
    public List<ServiceTaskListDto> ServiceTasks;
    public List<EngineerListDto> Engineers;
    bool isLoading = true;


    #region load
    protected override async Task OnInitializedAsync() {
        Cars = await httpClient.GetFromJsonAsync<List<CarListDto>>("car");
        Customers = await httpClient.GetFromJsonAsync<List<CustomerListDto>>("customer");
        Managers = await httpClient.GetFromJsonAsync<List<ManagerListDto>>("manager");
        ServiceTasks = await httpClient.GetFromJsonAsync<List<ServiceTaskListDto>>("servicetask");
        Engineers = await httpClient.GetFromJsonAsync<List<EngineerListDto>>("engineer");
        if (Id == null) {
            transactionEdit = new();

        }
        else {
            transactionEdit = await httpClient.GetFromJsonAsync<TransactionEditDto>($"transaction/{Id}");
        }
    }
    #endregion
    #region transaction button clicks
    private void OnCancel() {
        navigationManager.NavigateTo("transactionlist");
    }
    private async Task OnSave() {
        HttpResponseMessage? response = null;
        if (Id == null) {

            response = await httpClient.PostAsJsonAsync("transaction", transactionEdit);
            if ((int)response.StatusCode == 406) { await jsRuntime.InvokeVoidAsync("alert", "Cant add transaction\n Either Car or Customer already exist elsewhere"); }
            else { await jsRuntime.InvokeVoidAsync("alert", "Created new Empty Transacrion. \nYou need to manually add charges from edit section"); }
            navigationManager.NavigateTo($"transactionlist");
        }
        else {
            response = await httpClient.PutAsJsonAsync("transaction", transactionEdit);
            if ((int)response.StatusCode == 406) { await jsRuntime.InvokeVoidAsync("alert", "Cant add transaction\n Either Car or Customer already exist elsewhere"); }
            else {
                await jsRuntime.InvokeVoidAsync("alert", "Update Success. Keep in mind you updated only Transaction Info not Lines");
                navigationManager.NavigateTo($"transactionlist/edit/{transactionEdit.Id}");
            }

        }
    }
    #endregion
    #region transaction button click
    private void RemoveLine(TransactionLineEditDto transactionLine) {
        if (transactionLine.Id != 0)
        {
            transactionEdit.TransactionLines.Remove(transactionLine);
            DeleteTransactionLine(transactionLine);
        }
        else { transactionEdit.TransactionLines.Remove(transactionLine); }
    }
    private async Task DeleteTransactionLine(TransactionLineEditDto transactionLine) {
        var confirm = await jsRuntime.InvokeAsync<bool>("confirm", "Delete Item. Are you sure?");
        if (confirm) {
            var response = await httpClient.DeleteAsync($"transactionline/{transactionLine.Id}");
            response.EnsureSuccessStatusCode();
        }
    }
    private async Task UpdateLine(TransactionLineEditDto transactionLine) {
        HttpResponseMessage? response;
        transactionLine.TransactionId = transactionEdit.Id;
        var confirm = await jsRuntime.InvokeAsync<bool>("confirm", "Finalize Changes on Current Transaction Line?");
        if (confirm) {
            if (transactionLine.Id != 0) {
                response = await httpClient.PutAsJsonAsync("transactionline", transactionLine);
                if ((int)response.StatusCode == 406) { await jsRuntime.InvokeVoidAsync("alert", "Cant add transactionLine\n Either Engineer or Task already exist in another"); }
                else if ((int)response.StatusCode == 409) { await jsRuntime.InvokeVoidAsync("alert", "Cant update transactionLine\n Max WorkLoad Reached"); }
                else
                {
                    await jsRuntime.InvokeVoidAsync("alert", "Updated transaction Line charge");
                    navigationManager.NavigateTo($"transactionlist/edit/{transactionEdit.Id}");
                }
            }
            else {

                response = await httpClient.PostAsJsonAsync("transactionline", transactionLine);
                if ((int)response.StatusCode == 406) { await jsRuntime.InvokeVoidAsync("alert", "Cant update transactionLine\n Either Engineer or Task already exist in another"); }
                else if ((int)response.StatusCode == 409) { await jsRuntime.InvokeVoidAsync("alert", "Cant add transactionLine\n Max WorkLoad Reached"); }
                else
                {
                    await jsRuntime.InvokeVoidAsync("alert", "Added new transaction Line charge");
                    navigationManager.NavigateTo($"transactionlist/edit/{transactionEdit.Id}");
                }
            }
        }
    }
    private void AddLine() {
        transactionEdit.TransactionLines.Add(new TransactionLineEditDto());
    }
    #endregion
}
